# Исключаем виртуальные окружения
venv/
env/
*.venv

# Исключаем файлы настроек IDE
.idea/
.vscode/

# Исключаем файлы базы данных SQLite (если используется)
db.sqlite3

# Исключаем файлы кэша Python
__pycache__/
*.py[cod]

# Исключаем временные файлы
*.log
*.bak
*.swp
*.tmp

# Исключаем файл с секретными ключами (если есть)
*.env

# Исключаем файл зависимостей, если не хотите его отслеживать в git
requirements.txt

# Исключаем папки/файлы для сборки
build/
dist/
*.egg-info/

# Исключаем файлы тестов
*.coverage